#dash-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid white;
    width: 20%;
    border-radius: 10px;
    padding: 10px;
}

body{
    padding: 10px;
    flex: 1 1 100%;
}

.card-info{
    background-color: var(--color-info);
}

.card-success{
    background-color: var(--color-success);
}

.card-warning{
    background-color: var(--color-warning);
}

.card-result{
    background-color: var(--color-result);
}