<div class="component">
<div id="sidedar-up">
    <img src="icons/camera.svg" alt="Camera icon">
    <div class="title-two">
        <p class="title">FACEGUARD</p>
        <p class="title-secundary">Control version</p>
    </div>
</div>


<div id="nav">
<hr>
<p class="title">Navegación</p>

<div id="menu-side-up">
<nav class="menu-side">
    <ul>
        <li>DashBoard</li>
        <li>Gestionar Usuarios</li>
    </ul>
</nav>
</div>

<div id="menu-side-footer">
<hr>
<p class="title">Estado del sistema</p>
<p>Cámaras: </p>
<p>Modelo IA: </p>
<p>Base de datos:</p>
</div>

</div>
</div>

