:root{
    /*BACKGROUND */
    --gb-primary: #0a1120;

    /*COLOR TEXT */
    --text-primary: #E2E8F0;

    /*ICONS */
    --icon-svg-s: 20px;

    /* COLORS BACKGROUND*/
    --color-primary: #08171d;
    --color-success: #02d192;
    --color-warning: #ff6467;
    --color-result: #ffaa0a;
    --color-info: #00d4c8;

}

